// colors
$main-text: #fff;
$secondary-text: #8d8d8d;
$color-navigation: #909096;
$color-text: #000;
$color-active: #08a8fd;

$light-mode: #fff;
$dark-mode: #1d1d1d;
$green-mode: #78866b;
$purple-mode: #7E4C74;

// brake points
$content-width: 100vw; //???1197px
$tablet-width: 768px;
$mobile-big-width: 414px; //iPhone 6/7/8 Plus
$mobile-small-width: 320px; //iPhone 5/SE