// text colors
$main-text: #fff;
$secondary-text: #8d8d8d;
$color-text: #000;

// main dark mode
$dark-mode: #1d1d1d;
$background-header: #070707;
$nav-bar: #181818;
$color-icons: #909096;
$color-active: #08a8fd;
$ham-primary-color: rgba(13, 110, 139, 0.75);
$ham-overlay-color: rgba(24, 39, 51, 0.85);

$ham-speed: 0.75s;

// theme modes
$light-mode: #eaeaea;
$green-mode: #78866b;
$purple-mode: #7E4C74;

// brake points
$content-width: 1024px;
$tablet-width: 768px;
$mobile-big-width: 414px; //iPhone 6/7/8 Plus
$mobile-small-width: 320px; //iPhone 5/SE