.nav-bar {
  width: 70px;
  height: 100vh;
  padding: 0 0 15px 0;

  position: fixed;
  left: 0;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-around;  
  background-color: $nav-bar;

  @include media-tablet {
    top: 0;
    height: 70px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }
}
.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  @include media-tablet {    
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
  }
}
.nav > div {
  @include media-tablet {
    background: $nav-bar;
    opacity: 0.90;
    border-radius: 50%;
    height: 200vh;
    width: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
}
.nav > div > div {
  @include media-tablet {
    text-align: center;
    max-height: 100vh;
    max-width: 90vw;    
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}
.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 51px;
  margin-bottom: 15px;
  
  cursor: pointer; 
  
  &:hover::after {
    display: block;
    opacity: 1;       
  }  
  &::after{
    display: none;
    position: absolute;
    left: 25%;
    opacity: 0;
    
    font-size: 9px;
    letter-spacing: 2px;
    color: $color-active;    
        
    transition: all .3s ease-out;

    @include media-tablet {
      display: block;
      opacity: 1;      
    }
  }
  &:hover {
    .nav-ico {
      display: none;
      opacity: 0;
    }
  }

  @include media-tablet {
    & object {
      opacity: 0;
      display: none;
    }
    & a {
      color: $main-text;
      transition: color 0.4s ease;
    }     
  }
}
.nav__link_active {
  color: $color-active;
}
.nav-ico {    
  width: 100%;
  &_active {
    color: $color-active;
  }
  transition: all .3s ease-out;
}
.nav__link_home::after {
  content: "HOME";  
}
.nav__link_about::after {
  content: "ABOUT";
}
.nav__link_skills::after {
  content: "SKILLS";
}
.nav__link_work::after {
  content: "WORK";
}
.nav__link_contact::after {
  content: "CONTACT";  
  left: 12%;
}
.social-networks__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  @include media-tablet {
    min-width: 110px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
.social-networks__list__item {
  padding: 0 0 15px;
  @include media-tablet {
    padding: 0 0;
  }
}
.social-networks__item__link {
  z-index: 2;
}
