.main-container {
  width: $content-width;
  height: 100vh;
  position: relative;
  overflow: hidden;
  padding: 0 60px;
}
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 60;  
  display: none;
}
.blank_current {
  transition: display 0.4s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.text-zone {
  max-height: 90%;
  padding: 0 140px 0px 80px;
}
