@import url("https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
*, *:after, *:before {
  box-sizing: border-box;
}

body {
  background-color: #1d1d1d;
  height: 100vh;
  overflow: hidden;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

input, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul, li {
  list-style: none;
}

input {
  background-color: rgba(0, 0, 0, 0);
}

html {
  font-size: 10px;
}

body {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  color: #8d8d8d;
}

h1 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  line-height: 5.3rem;
  font-style: italic;
  color: #08a8fd;
  letter-spacing: 3px;
}
h1 .name {
  color: #08a8fd;
}

#home h1 {
  color: #fff;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.8rem;
  letter-spacing: 3px;
  margin: 20px 0 10px 0;
  color: #8d8d8d;
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.6rem;
  letter-spacing: 3px;
  margin: 10px 0;
  color: #fff;
}

#home p {
  color: #8d8d8d;
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
}

p a {
  color: #08a8fd;
  text-decoration: underline;
}

.tags, .main-heading::before, .main-heading::after {
  font-family: "La Belle Aurore", cursive;
  font-style: normal;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 2.52rem;
  color: #8d8d8d;
}

.main-heading::before {
  content: "<h1>";
}

.sub-heading {
  margin: 15px 0;
}

.home-pic h2.sub-heading {
  color: #fff;
}

.main-heading::after {
  content: "</h1>";
}

a.navigation {
  letter-spacing: 2px;
}

a.button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 1.82rem;
  letter-spacing: 4px;
}

.personalize {
  text-align: center;
}

.header {
  padding: 20px 0;
  height: 15%;
  text-align: center;
  background: #070707;
}

.header.cl-effect a::before,
.header.cl-effect a::after {
  top: 4.5rem;
  left: 50%;
  width: 69px;
  height: 69px;
}

.header.cl-effect a::after {
  width: 65px;
  height: 65px;
}

.logo {
  font-family: "La Belle Aurore", cursive;
  font-size: 6rem;
  line-height: 6.4rem;
  margin: 0 0;
  color: #08a8fd;
}

#home-logo {
  font-size: 38rem !important;
  line-height: 42rem !important;
  color: #08a8fd !important;
  margin: 0 0 !important;
  height: 100%;
}

.fi-object {
  width: 24px;
  height: 24px;
}

.fi-path {
  transition: all 0.4s ease;
  fill: #909096;
}

.fi-svg {
  fill: #909096;
  cursor: pointer;
}
.fi-svg:hover {
  fill: #08a8fd;
}
.fi-svg:hover .fi-path {
  fill: #08a8fd;
}

.themes {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}

.theme-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 10px 0;
}

.theme-dot {
  height: 30px;
  width: 30px;
  margin: 0 10px;
  border: 2px solid #8d8d8d;
  border-radius: 50%;
  cursor: pointer;
}
.theme-dot:hover {
  border-color: #08a8fd;
}

#light-mode {
  background-color: #eaeaea;
}

#dark-mode {
  background-color: #1d1d1d;
}

#green-mode {
  background-color: #78866b;
}

#purple-mode {
  background-color: #7E4C74;
}

.cl-effect a::before,
.cl-effect a::after {
  position: absolute;
  border: 1px solid #08a8fd;
  border-radius: 50%;
  content: "";
  opacity: 0;
  transition: transform 0.3s, opacity 0.3s;
  transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect a::after {
  border-width: 2px;
  transform: translateX(-50%) translateY(-50%) scale(0.8);
}

.cl-effect a:hover::before,
.cl-effect a:hover::after,
.cl-effect a:focus::before,
.cl-effect a:focus::after {
  opacity: 1;
  transform: translateX(-50%) translateY(-50%) scale(1);
}
@media screen and (max-width: 768px) {
  .cl-effect a:hover::before,
.cl-effect a:hover::after,
.cl-effect a:focus::before,
.cl-effect a:focus::after {
    opacity: 0;
  }
}

.toggler {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  cursor: pointer;
  width: 50px;
  height: 100%;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .toggler {
    display: block;
  }
}
.toggler:checked + .hamburger > div {
  transform: rotate(135deg);
}
.toggler:checked + .hamburger > div::before, .toggler:checked + .hamburger > div::after {
  top: 0;
  transform: rotate(90deg);
}
.toggler:checked:hover + .hamburger > div {
  transform: rotate(225deg);
}
@media screen and (max-width: 768px) {
  .toggler:checked ~ .nav {
    visibility: visible;
  }
}
@media screen and (max-width: 768px) {
  .toggler:checked ~ .nav > div {
    transform: scale(1);
    transition-duration: 0.75s;
  }
}
@media screen and (max-width: 768px) {
  .toggler:checked ~ .nav > div > div {
    opacity: 1;
    transition: opacity 0.4s ease;
  }
}

.hamburger {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 70px;
  height: 100%;
  padding: 1rem;
  background: #181818;
}
@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.hamburger > div {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #8d8d8d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease;
}
.hamburger > div::before, .hamburger > div::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: -10px;
  width: 100%;
  height: 2px;
  background-color: #8d8d8d;
}
.hamburger > div::after {
  top: 10px;
}

.button {
  display: block;
  width: max-content;
  cursor: pointer;
  color: #08a8fd;
}
.button:hover {
  color: #1d1d1d;
}

.button_flat {
  padding: 10px 18px;
  border: 1px solid #08a8fd;
  margin-top: 25px;
}
.button_flat:hover {
  background-color: #08a8fd;
}

.home-pic {
  display: flex;
  text-align: center;
}

.txt-type > .txt {
  border-right: 0.2rem solid #fff;
}

.tags-themes {
  position: relative;
}

.pic__wrapper {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 0 20px 0;
}

#about-pic, #home-pic {
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  filter: contrast(1.2) saturate(1.05);
  transform: translate(-40%, -40%) scale(0.25, 0.25);
}

#home-pic {
  transform: translate(-42%, -40%) scale(0.25, 0.25);
}

.tags {
  padding: 15px 0;
}

.contact-links {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact-links .social-networks__list__item {
  font-size: 1.6rem;
  padding: 15px 0;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow: hidden;
}

.wrapper {
  height: 100vh;
  width: 1024px;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  scroll-snap-align: center;
}

#home .content {
  flex-direction: column;
}

.content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-zone {
  padding: 0 0 0 120px;
  min-width: 87%;
}

.home__text-zone {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-bar {
  width: 70px;
  height: 100vh;
  padding: 0 0 15px 0;
  position: fixed;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #181818;
}
@media screen and (max-width: 768px) {
  .nav-bar {
    top: 0;
    height: 70px;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 0;
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .nav {
    visibility: hidden;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 768px) {
  .nav > div {
    background: #181818;
    opacity: 0.9;
    border-radius: 50%;
    height: 200vh;
    width: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
  }
}

@media screen and (max-width: 768px) {
  .nav > div > div {
    text-align: center;
    max-height: 100vh;
    max-width: 90vw;
    opacity: 0;
    transition: opacity 0.4s ease;
  }
}

.nav__link {
  display: flex;
  align-items: center;
  position: relative;
  height: 51px;
  margin-bottom: 15px;
  cursor: pointer;
}
.nav__link:hover::after {
  display: block;
  opacity: 1;
}
.nav__link::after {
  display: none;
  position: absolute;
  left: 25%;
  opacity: 0;
  font-size: 9px;
  letter-spacing: 2px;
  color: #08a8fd;
  transition: all 0.3s ease-out;
}
@media screen and (max-width: 768px) {
  .nav__link::after {
    display: block;
    opacity: 1;
  }
}
.nav__link:hover .nav-ico {
  display: none;
  opacity: 0;
}
@media screen and (max-width: 768px) {
  .nav__link object {
    opacity: 0;
    display: none;
  }
  .nav__link a {
    color: #fff;
    transition: color 0.4s ease;
  }
}

.nav__link_active {
  color: #08a8fd;
}

.nav-ico {
  width: 100%;
  transition: all 0.3s ease-out;
}
.nav-ico_active {
  color: #08a8fd;
}

.nav__link_home::after {
  content: "HOME";
}

.nav__link_about::after {
  content: "ABOUT";
}

.nav__link_skills::after {
  content: "SKILLS";
}

.nav__link_work::after {
  content: "WORK";
}

.nav__link_contact::after {
  content: "CONTACT";
  left: 12%;
}

.social-networks__list {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .social-networks__list {
    min-width: 110px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.social-networks__list__item {
  padding: 0 0 15px;
}
@media screen and (max-width: 768px) {
  .social-networks__list__item {
    padding: 0 0;
  }
}

.social-networks__item__link {
  z-index: 2;
}

/*# sourceMappingURL=style.css.map */
