.grid-container {
  display: grid;
  display: grid;
  grid-template-areas: "post-1 post-1 post-2 post-2"  
                       "post-3 post-3 post-3 post-3"  
                       "post-4 post-4 post-4 post-4"
                       "post-4 post-4 post-4 post-4"
                       "post-5 post-5 post-5 post-5"; 
  grid-template-rows: repeat(4, 50px);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}
.post-1 {
  grid-area: post-1;
}
.post-2 {           
  grid-area: post-2;
}
.post-3 {
  grid-area: post-3;
}
.post-4 {           
  grid-area: post-4;
}
.post-5 {
  grid-area: post-5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.input__field {
  width: 100%;
  height: 50px;
  background: #2b2b2b;
  padding: 0 20px;
  &:focus {
    color: $main-text;
    outline: none;
    @include placeholder {
      color: transparent;
    }
  }
  @include placeholder {
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    @include font (normal, normal, 1.4rem, 1.6rem);
    color: $secondary-text; 
  }
}
input[type=text], input[type=email], textarea {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  @include font (normal, normal, 1.4rem, 1.6rem);
  color: $secondary-text;
  &:focus {}
}
textarea.input__field {
  padding: 20px 20px;
  height: 100px;
  resize: none;
}