.pic__wrapper {
  height: 200px;
  width: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 0 20px 0;
}
#about-pic, #home-pic {
  display: block;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  filter: contrast(1.2) saturate(1.05); 
  transform: translate(-40%, -40%) scale(0.25,0.25);
}
#home-pic {
  transform: translate(-42%, -40%) scale(0.25,0.25);
}