.header {
  padding: 20px 0;
  height: 15%;
  text-align: center;
  background: $background-header;
}
.header.cl-effect a::before,
.header.cl-effect a::after{
  top: 4.5rem;
	left: 50%;
	width: 69px;
	height: 69px;
}
.header.cl-effect a::after {
  width: 65px;
	height: 65px;
}
.logo {  
  font-family: 'La Belle Aurore', cursive;
  font-size: 6rem;
  line-height: 6.4rem;
  margin: 0 0;
  color: $color-active;  
}
#home-logo {
  font-size: 38rem !important;
  line-height: 42rem !important;
  color: $color-active !important;
  margin: 0 0 !important;
  height: 100%;
}