@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
html {
  font-size: 10px;
}
body {
  font-family: 'Raleway', sans-serif;
  @include font (normal, normal, 1.4rem, 1.6rem);
  color: $secondary-text; 
}
h1 {
  font-family: 'Raleway', sans-serif;
  @include font (normal, 400, 6rem, 5.3rem);
  font-style: italic;
  color: $color-active;
  letter-spacing: 3px;
  & .name {
    color: $color-active;
  }
}
#home h1 {
  color: $main-text;
}
h2 {
  font-family: 'Raleway', sans-serif; 
  @include font (normal, 400, 1.4rem, 1.8rem);
  letter-spacing: 3px;  
  margin: 20px 0 10px 0;
  color: $secondary-text;
}
p {
  @include font (normal, normal, 1.4rem, 1.6rem);
  letter-spacing: 3px;  
  margin: 10px 0;
  color: $main-text;
}
#home p {  
  color: $secondary-text;
  @include font (normal, 400, 1.1rem, 1.5rem);
}
p a {
  color: $color-active;
  text-decoration: underline;
}
.tags, .main-heading::before, .main-heading::after {
  font-family: 'La Belle Aurore', cursive;
  @include font (normal, 300, 1.8rem, 2.52rem);
  color: $secondary-text;
}

#about .main-heading {  
  text-align: center;
  margin-bottom: 20px;
}

.about__sub-heading {
  & span span {
    color: $color-active;
    @include font (normal, 300, 2.4rem, 2.52rem);
  }  
}
.education {
  text-align: center;
}

.main-heading::before {
  content: '<h1>';  
}
.sub-heading {
  margin: 15px 0;
}
.home-pic h2.sub-heading {
  color: $main-text;
}
.main-heading::after {
  content: '</h1>';  
}
a.navigation {
  letter-spacing: 2px;
}
a.button {
  font-family: 'Open Sans', sans-serif;
  @include font (normal, normal, 1.3rem, 1.82rem);
  letter-spacing: 4px;
}
.personalize {
  text-align: center;
}