body {
  background-color: #78866b;
}
h2, p, .tags, .main-heading::before, .main-heading::after, .nav__link, .social-networks__list__item a {
  color: #2a2f25;
}
.pic__wrapper, .theme-dot {
  border-color: #2a2f25;
}
.button {
  color: #08fd5d;
  background-color: #2a2f25;
}
.button_flat {  
  border-color: #08fd5d;
}