body {
  background-color: #eaeaea;
}
.nav-bar {
  background-color: #c1c1c1;
}
h1 {
  color: black;
}
h2, p, 
.tags, 
.main-heading::before, 
.main-heading::after, 
.navigation__link, 
.social-networks__list__item a {
  color: #4b5156;
}
.navigation__link:hover, 
.social-networks__list__item a:hover {
  color: #ea676b;
}
.pic__wrapper, 
.theme-dot {
  border-color: #4b5156;
}
.theme-dot:hover {
  border-color: #ea676b;
}
.button {
  color: #ea676b;
}
.button:hover {
  color: #eaeaea;
  background-color: #ea676b;
}
.button_flat {  
  border-color: #ea676b;
}